/***************/
/* FONT RULES  */
/***************/

h1,h2,h3,h4,h5,h6 {
	font-family: "roboto", "serif";
}

h1 {
	font-size: 2.75rem;
}

h2 {
	font-size: 2.25rem
}

h3 {
	font-size: 1.75rem;

}

h4 {
	font-size: 1.25rem
}

h5 {
	font-size: 1rem;
	font-family: "raleway";
}

p {
	font-family: "raleway";
	font-size: 1rem;
}

.products h4 {
	color:rgb(226,87,76);
	font-weight:700;
	padding:10px;
}

.text-size-up-h3 {
	font-size:2.75rem;
}

.text-size-up-p {
	font-size:1.25rem;
}

.address ul {
	color:white;
	font-family: "roboto", "san-serif";
	text-align:center;

		
}

/****************/
/* TEXT STYLING */
/****************/

.bold {
	font-style: normal;
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align:center;
}

.text-middle {
  	vertical-align: middle;
}

.text-shadow {
	text-shadow: 2px 2px 4px grey;

}

.text-normal{
	text-decoration: none;
}

h1 {
	width:100%;
	padding-top: 27px;
    line-height: 36px;
}
.line-break {
	display:block;
}

.line-break1 {
	display:block;
}

.line-height {
	line-height: 5vh
}
/***************/
/* TEXT COLORS */
/***************/

.white {
	color: white;

}

.colorgrey{
	color:blue;
}

.colorflamingo {
	color:rgb(226,87,76)
}

.colorgreen {
	color:forestgreen;
}
/*************************/
/****** BORDER RULES *****/
/*************************/

.border-top-small {
	border-top:2px solid rgb(215,215,215);
}

.border-top-med {
	border-top: 10px solid white;
}
/*********************/
/* FLEX BOXES HEADER */
/*********************/

.flex-container {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	margin-top:5%;
	width:100%;

}

.flex-item-nav {
	order:3;
	display: flex;
	/*list-style: none;*
    /*align-items: stretch; /* Default */
    justify-content: space-around;
    width: 100%;

}
/* the code below changes the order of my flex boxes*/

/*************************/
/* FLEX BOXES CATEGORIES */
/*************************/

.category {
	margin-top:10%;

}

.cat-text-center{
	text-align:center;
	position:relative;
	top:50%;
}

.box-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.category-1{
	flex:2 0 0;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2),transparent),url("/assets/images/laptop-category.jpg");
	background-size: cover;
}
.category-2{
	flex:1 0 0;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2),transparent),url("/assets/images/tv-category.jpg");
	background-size: cover;
}
.category-3{
	flex:1 0 0;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2),transparent),url("/assets/images/home-audio-category.jpg");
	background-size: cover;
}
.category-4{
	flex:1 0 0;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2),transparent),url("/assets/images/tablet-category.jpg");
	background-size: cover;
}
.category-5{
	flex:1 0 0;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2),transparent),url("/assets/images/desktop-category.jpg");
	background-size: cover;
}
.category-6{
	flex:2 0 0;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2),transparent),url("/assets/images/cell-category.jpg");
	background-size: cover;
}
.border-child {
	border:2px solid white;
}

.flex-item2 {
	flex:1 1 23%;
	height:30vh;
	text-align:center;
}

.flex-item1 {
	flex:1 1 48%;
	height:30vh;
	text-align:center;
}


.cat-div {
	position:relative;
	top:34%;
	text-align:center;

}

.category h1 {
	font-family: "raleway";
	font-size: 2.1rem;
	

}

.address-footer{ 
display: flex;
flex-direction: column;
font-family:"raleway";
align-items: center;
text-align:center;
}

/*********************/
/*****  BUTTONS  *****/
/*********************/
.add2Cart {
	background-color:forestgreen;
	border-color: forestgreen;
	color:white;
	padding:2%;
	width:30%;
}

.quickViewBtn {
	background-color: White;
	border-color: forestgreen;
	padding:2%;
	width:30%;
}


/*********************/
/* BACKGROUND IMAGES */
/*********************/

#banner {
	min-height: 67vh;
	background: url("../../assets/images/banner.jpg") center, no-repeat;
	background-size:cover;

}

#wave {
	background-color: forestgreen;
}

/***************/
/* Logo & Cart */
/***************/

.aloha-logo img {
	width:45%;
}

.cart img {
	width:75%;

}

.overlay {
	position: fixed;
	top:0%;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	display: none;
	z-index:2;
}

.overlayQv {
	position: fixed;
	top:0%;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	display: none;
	z-index:2;
}

#cartView {
	background-color: white;
	position:fixed;
	top:25%;
	left:10%;
	width:80%;
	height:40%;
	display:none;
	z-index:3;
}

.quickViewBox {
	background-color: white;
	position:fixed;
	top:25%;
	left:10%;
	width:80%;
	height:40%;
	display:none;
	z-index:3;
}
/*******/
/* NAV */
/*******/

.nav-list {
	text-transform:uppercase;
	color:rgb(226,87,76);
	padding: 25px 0px;
}


/*****************/
/* Padding Rules */
/*****************/

.top {
	padding-top:25.5%;
}
.padding-top {
	padding-top:5%;
}

.padding-top-10 {
	padding-top:10%;
}

.padding-top-20	{
	padding-top:20%;
}

.padding-top-30 {
	padding-top:30%;
}

.padding-bot{
	padding-bottom: 5%
}

.padding-left {
	padding-left:2%;
}

.padding-top-bot-15 {
	padding:15px 0px;
}

.padding-10 {
	padding:10px;
}

/**********************/
/* SOCIAL MEDIA RULES */
/**********************/

.mobile-align li{
	margin: 2vh;
}

.text {

}
.mobile a{
	padding-top:5%;
	text-decoration: none;
	color:white;
}

.fa {
	color:white;
}

.clearfix:after {
	clear:both;
	content:"";
	display:block;
}

.socialicons {
	display: flex;
	justify-content: flex-end;
    //padding-right: 43%;
}
/*************/
/*  SUBFORM  */
/*************/

.subform {
	background-color:white;
	border:25px;
	width:70%;
	padding:4px;
	display:inline-block;

}

input[type=text] {
	float:left;
	width:65%;
	background:none;
	border:none;
	padding:9px ;
	display:inline-block;

}

input[type=submit] {
	float:right;
	width:30%;
	border:25px;
	background-color:Forestgreen;
	padding:5px;
	line-height: 1.5rem;
}



/****************/
/* OWL CAROUSEL */
/****************/

.products img{
	width:50%;
}

/*********************/

/* footer section*/
.backgroundblack{
	background-color:black;
}

.backgroundgreen{
	background-color:forestgreen;
}

.signup{
	padding:3vh;
}

/**************************/
/*  TABLET RESPONSIVE CSS */
/**************************/
@media only screen and (min-width:598px) and (max-width:1048px){

	.border-top-small {
		border-top: none;
	}

	.border-child {
		border: 2px solid white;
	}

	.flex-item1 {
		flex:2 1 100%;

	}

	.flex-item2{
		flex:1 1 48%;
	}
	.mobile {
		display: none;
		padding: 5%;
		text-decoration: none;
		color: white;
	}

	i {
		diplay:flex;
		padding:2vh;
	}

	.address-footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;

	}

	.mobile-align li {
		margin: 2vh;
	}

	.socialicons {
		padding-top: 3vh;
		display: flex;
		justify-content: center;

	}
	.socialicons ul{
		display:flex;
		justify-content:center;

	}

	.flex-container {
		flex-wrap: nowrap;

	}

	.flex-item-nav {
		order: 0;
		width: 100%;
		transform: translate(-17px);
		padding-top: 3%;
	}

	.aloha-logo img {
		width: 89%;
	}

	.cart img {
		width: 75%;
		position: relative;
	}
	#cartView {
		background-color: white;
		top: 50%;
		left: 50%;
		margin: -25%;
		width: 50%;
		height: 50%;
	}

	.padding-top-20 {
		padding-top: 10%
	}

	.top {
		padding-top: 15.5%;
	}

	.line-break1 {
		display: inline;
	}
}

/*******************************/
/***** MOBILE RESPONSIZVE ******/
/*******************************/

@media only screen and (width:0px) and (max-width:600px){
	.flex-item1 {
		flex: 1 1 100%;
		height:30vh;
		text-align:center;
	}

	.flex-item2{
		flex:2 1 48%;
		height:30vh;
		text-align:center;
	}

	.mobile ul{
		display:none;
	}
}
